<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Brother.Website" description="Brother content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Project.Common.Website,Project.Demo.Website" patch:after="configuration[@name='Foundation.Serialization']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\project\Brother\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Brother.Website.Content" database="master" path="/sitecore/content/Brother" />
                        <include name="Brother.Website.Media" database="master" path="/sitecore/media library/Brother" />
                        <include name="Brother.Website.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/BrotherProfiles" />
                        <include name="Brother.Website.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Brother" />
                        <include name="Brother.Website.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Brother" />
                    </predicate>
                    <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="true" updateSearchIndex="true" maxConcurrency="1" />
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>